@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
	--f7-theme-color:#f5f5f5;
	--f7-navbar-bg-color: #F5EBF6; /*navbar*/
	--f7-navbar-link-color: #5079FE; /*navbar link*/
	--f7-navbar-text-color:#7C899F;
	--f7-bars-bg-color:#0F0F0F; /*toolbar*/
	--f7-tabbar-link-inactive-color: #7b7b7b; /*link toolbar*/
	--f7-block-margin-vertical:20px;
	--f7-card-footer-border-color:transparent; 
}


body{
	font-family: 'Manrope';
}
#home{
	background-color: #F5EBF6;
	text-align: center;
}

.img-fluid{
	max-width: 100%;
	display:block;
}


.hero{
	background-image: url("../img/fondo1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.hero h2.block-title.block-title-medium{
	padding-top: 20%;
	color: #2E2E2E;
}

.hero h2.block-title.block-title-large{
	padding-bottom: 30%;
	color: #2E2E2E;

}

.mirablog{
	background-image: url("../img/fondo2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	padding-bottom: 10%;
	padding-top: 10%;


}

.mirablog h2{
	color: #fff;
	font-weight: 500;
}

.sobrenosotras{
	background-image: url("../img/fondo3.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;


}


#banner h1{
text-align: center;
}



.card{
margin: 5px 30px;
}

.card-content{
margin: 5px 30px;
}









